@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
} */

.wrapper {
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
  max-width: 70%;
  /* width: 70%; */
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; /* for firefox */
}

.wrapper::-webkit-scrollbar { /* for chrome */
  display: none;
}

.slider {
  min-width: calc(50% - .5rem);
  aspect-ratio: 1/ 1;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
}

.image-container {
  overflow: hidden;
  position: relative;
}

/* .moving-image {
  position: absolute;
  top: 0;
  left: 0;
  animation: slideImages 10s infinite alternate linear;
} */

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-100%);
  }
}

/* .v {
  width: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
} */
/* .wrapper img{
  width: 5rem;
  height: 5rem;
  scroll-snap-align: start;
  user-select: none;
} */
/* .box{
  width: 30%;
}
img{
  width: 100%;
} */